@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-zinc-900 h-full overflow-x-hidden;
}

#__next {
  @apply h-full;
}

html {
  @apply h-full;
}


body::-webkit-scrollbar {
  width: 0.4em;
  /*background: black;*/
  background: #000;
  z-index: 5;
  height: 0.3em;
  display: none;
}
body::-webkit-scrollbar-thumb {
  /*background: #c0392b;*/
  background: red;
  height:20px;
  border-radius: 20px;
  z-index: 5;
}

body::-webkit-scrollbar-track-piece
{
  display:none;
}


.app-scroll {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
}

.app-scroll > * {
  grid-column: 2 / -2;
}

.app-scroll > .full-scroll {
  grid-column: 1 / -1;
}

.hs-scroll {
  display: grid;
  grid-template-columns: repeat(1000, calc(25% - 40px));
  grid-template-rows: minmax(150px, 1fr);
}



.slick-list {
  overflow: visible !important;
}


.slick-slide {
  padding: 5px !important;
}

/* .trunc-fix {
  display: -webkit-box;
  white-space: nowrap;
  max-width: 700px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;

} */










